<template>
  <div class="hello">
    <button type="button" @click="test()">отправить запрос</button>
    <div>ответ API</div>
    <p>{{ api }}</p>





  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      error: '',
      api: '',
    }
  },
  methods: {
 test() {
         this.$axios({url: 'http://portal.admlr.lipetsk.ru/api/auth/testremote', method: 'get'})
          .then(response => {
            this.api = response.data
          })
          .catch((error) => {
            this.api = error


        })

      },

  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
